.bg-dark {
    background-color: #333;
    color: #fff;
  }
  
  .header {
    text-align: center;
  }
  
  .searchArea {
    padding: 20px;
  }
  
  .input-field {
    margin: 0;
  }
  
  .searchBtn {
    margin-top: 10px;
  }
  
  .textInput input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  
  .cityList {
    margin: 20px 0;
  }
  
  .clearBtn {
    margin-top: 10px;
  }
  
  .card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .fiveDayForecast {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  