/*header*/
header {
    background-color:rgb(198, 244, 244);
    margin-bottom:0px;
}

button.buttonCity {
    color: azure;
    margin: 15px;
}

h1 {
    color: white;
    padding: 5px;
    background-color: rgb(39, 33, 33);
    font-family: 'Times New Roman', Times, serif;
}

h3{
    background-color: lightskyblue;
    width: 100px;
}


h6, h2,h3,h4,h5,p {
    font-family:'Times New Roman', Times, serif
}

li {
    padding-left: 10px;
}